body {
  text-align: center;
  background: #99c0ad;
  font-family: sans-serif;
  font-weight: 100;
}

 .timer {
    font-family: 'Roboto Mono', monospace;
    color: rgb(3, 3, 3);
    display: inline-block;
    text-align: center;
    font-size: 50px;
  }
  
  .field {
    padding: 25px;
    border-radius: 5px;
    background: #089145;
    display: inline-block;
    
  }
  
  .value {
    padding: 35px;
    border-radius: 5px;
    background: rgb(193, 216, 168);
    display: inline-block;

  }
  
  .label {
    display: block; 
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
  }